* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #dfe9f5;
}

nav {
  position: absolute;
  height: 100%;
  background: #fff;
  width: 90px;
  overflow: hidden;
  transition: width 0.2s linear;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1)
}

.logo {
  text-align: center;
  display: flex;
}

.logo img {
  width: 65px;
  height: 65px;
}

.logo span {
  position: absolute;
  right: 20px;
  top: 15px;
  font-weight: bold;
  padding: 15px;
  font-size: 25px;
  text-transform: uppercase;
  font-family: monospace;
}

a {
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 14px;
  display: table;
  width: 300px;
  padding: 10px;
}

.fas {
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 22px;
  text-align: center;
}

.nav-item {
  position: relative;
  top: 11px;
  left: 30px;
  font-size: 15px;
  font-weight: 500;
}

a:hover {
  background: #eee;
}

nav:hover {
  width: 300px;
  transition: all 0.5s ease;
}

.logout {
  position: absolute;
  bottom: 0;
  color: #F96666;
}

/* responsive */
@media screen and (max-width: 576px) {
  nav:hover {
    width: 100%;
  }

  .nav-item {
    position: relative;
    top: 11px;
    left: 90px;
    font-size: 20px;
    font-weight: 600;
  }

  .logo span {
    position: relative;
    left: 60px;
  }

  a:hover{
    width: 576px;
  }

  a.logout:hover {
    background: #FFE3E1;
  }
}
